
.block_cv{
    position: relative;
    background-color: #F5F5F5;
    width: 65%;
    margin: 5rem auto;
}
.block_img{
    background-color:#1E1E1E;
    border-right: 0.2rem solid orange;
    box-sizing: border-box;
}


.photo  {
    width: 170px;
    height: 170px;
    margin: 4rem auto;
    border: 0.4rem solid orange;
    box-sizing: border-box;
    transform: rotate(45deg);
    overflow: hidden;
}
.photo > img {
    max-width: 100%;
    margin-left: 11px;
    margin-top: -15px;
    transform: rotate(-45deg) scale(1.41);

}
.city{
    color: orange;
}
.x{
    width: 100%;
    height: 300px;
    margin-top: 3rem;
}
.contacts h6 {
    color: orange;
}
.link_my_project{
    margin-top: 3rem;
}
.contacts{
    margin-top: 5.5rem;
}
.block_description{
    background-color:#F5F5F5 ;
    padding: 1rem;
}
.web_developer{
    margin-top: 1rem;
}
.skills, .courses , .education , .languages{
    /*padding-top: 1rem;*/
}
.skills nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 813px) {
    .x{
        height: 200px;
    }
    .block_img{
        border-bottom:0.2rem solid orange ;
        border-right: none;
    }
    .link_my_project{
        margin-top: 0.2rem;
    }
}
@media (max-width: 415px) {
    .block_cv{
        width: 100%;
    }

}

/*cvRus CSS!!!!!!!!!!!!!!!!!!*/

.block_cv_rus{
    width: 2.5rem;
    height: 2.5rem;
    background-color:#1E1E1E;
    color: orange;
    position: absolute;
    right: 0;
    border-radius: 1.8rem;
    z-index: 1000;
    padding: 0.4rem;
}
.block_cv a {
    text-decoration: none;
}